# Terraform junk / locals
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/
crash.log

# Saved plan files
*.tfplan
*.plan
*.out

# Vars and sensitive files (if you keep them local)
*.tfvars.json
plan.out
*.bak
